
/* CSS specifically for the ARTISTS PAGES*/

body {
    background-color: #000000;
    color: #e4be43;
    font-family: Arial,Helvetica, sans-serif;
display: flex;
justify-content: center;
align-items: center;

}
    

  
  header {
   /*background*/
   background-color: #750404;
   padding: auto;
   height: 80px;
   /*text properties*/
   color: #fffd7d;
   line-height: 400%;
   text-indent: 1em;
   text-align: center;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 100%;}
  
   nav {
    padding-top: .5%;
    padding-bottom: .5%;
    text-align: center;
   }
  
   /*Nav Dropdown*/
   ul {
    list-style: none;
    background-color: goldenrod;
   }
  
   ul li {
    display: inline-block;
    position: relative;
   }
  
   ul li a {
    display: block;
    padding: 5px 25px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
   }
  
   ul li ul.dropdown li {
    display: block;
   }
  
   ul li ul.dropdown {
    width: 100%;
    background-color: goldenrod;
    position: absolute;
    z-index: 999;
    display: none;
   }
  
   ul li a:hover {
    background: #e7c944;
   }
  
   ul li:hover ul.dropdown {
    display: block;
   }
  
   img {
    max-width: 300px;
    min-width: none;
    float: left;
    border: 3px solid #e4be43;
    margin: 15px;
  }

  
   h1 {
    font-weight: bold;
    margin-top: 0%;
    margin-bottom: 0%;
   }
  
   h2 {
    margin-left: 100px;
    font-weight: bold;
    text-decoration-line: underline;
    padding: 20px 20px 20px 20px;
    display: block;}

    h3 {
    font-size: 15px;
    font-style: italic;
    text-decoration: underline;
    }

    h4 {
      margin-left: 125px;margin-bottom: 50px;margin-top: 50px;
      font-size: 45px;
      font-weight: bold;
      text-decoration: underline;
    }
  
  main {
    margin: 0px 250px 0px 250px;
    letter-spacing: 1px;
    padding: 1px 20px 20px 20px;
    color: #ffffff;
    overflow: auto;
  }
  
  footer {
  text-decoration: none;
  padding: 2em;
  text-align: center;
  font-size: 75%;
  }
  
  a {color: #f5eaaf;}
  
  a:hover {
    color: #750404;
  }
  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }

/* DIV Classes/IDs */

  #wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  /* Image IDS */

  #hellboy {
    border: 3px solid #e4be43;
    height: 350px;
    background-image: url(mignolaart.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;}

    #spwn1 {
     border: 3px solid #e4be43;
     height: 350px;
    background-image: url(spwn1.png);
    background-size: 100% 100%;
     background-repeat: no-repeat;}
    
     #sunstone {
        border: 3px solid #e4be43;
    height: 350px;
    background-image: url(allykat.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;}

    #jla {
    border: 3px solid #e4be43;
    height: 350px;
    background-image: url(jla.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;}
    
    


  .container {
width:auto;
  }


  .textbox {
color: #ffffff;
font-size: 23px;

  }

  .textbox h2 {
    color:#e4be43;
    font-weight: bold;
    font-size: 30px;
  }

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: 100px;
}

.column {flex: 50%;
  padding: 0 4px;
}







  
  