
body {
  background-color: #000000;
  color: #e4be43;
  font-family: Arial,Helvetica, sans-serif;}
  
#wrapper {
  margin-left: auto;margin-right: auto;
  width: 100%;
}

header {
 /*background*/
 background-color: #750404;
 padding: auto;
 height: 80px;
 /*text properties*/
 color: #fffd7d;
 line-height: 400%;
 text-indent: 1em;
 text-align: center;
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: 100%;}

 nav {
  padding-top: .5%;
  padding-bottom: .5%;
  text-align: center;
 }

 /*Nav Dropdown*/
 ul {
  list-style: none;
  background-color: goldenrod;
 }

 ul li {
  display: inline-block;
  position: relative;
 }

 ul li a {
  display: block;
  padding: 5px 25px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
 }

 ul li ul.dropdown li {
  display: block;
 }

 ul li ul.dropdown {
  width: 100%;
  background-color: goldenrod;
  position: absolute;
  z-index: 999;
  display: none;
 }

 ul li a:hover {
  background: #e7c944;
 }

 ul li:hover ul.dropdown {
  display: block;
 }

 /*Images*/
 
 #homeimage {
  height: 350px;
  background-image: url(comiclegends.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
 }




 h1 {
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 0%;
 }

 h2 {
  margin-left: 100px;
  font-weight: bold;
  text-decoration-line: underline;
  padding: 20px 20px 20px 20px;
  display: block;
  

 }

main {
  margin-left: 150px;
  letter-spacing: 1px;
  padding: 1px 20px 20px 20px;
  display: block;
  color: #ffffff;
  overflow: auto;
}

footer {
text-decoration: none;
padding: 2em;
text-align: center;
font-size: 75%;
}

a {color: #f5eaaf;}

a:hover {
  color: #750404;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.container {
  align-items: center;
}

.wrapper2 {
  margin-left: 150px;
}









